$primary-backgroundColor:#EDD4BD;
$footer-color:#BC9D81;
$second-color-1: #C2D1B8;
$second-color-2:#FFF3E0;
$second-color-3:lighten(#000, 40%);
$btn-color: red;
$box-color:#fff;
$primary-fontSize:1.3rem;
$title-fontSize:1.4rem;
$title-buttom:3%;
